API_PREFIX=api
API_PORT=8000
ORIGIN_URL=http://frontend_upstream

DB_HOST=devop-db-prod
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=devop_db
DB_SYNCHRONIZE=true 
DB_LOGGING=true

REDIS_HOST=devop-redis-prod
REDIS_PORT=6379
REDIS_PASSWORD=123